# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/start/node_modules
/final/node_modules
/start/.firebase
/final/.firebase

# production
/start/build
/final/build

# misc
.DS_Store
/start/.env
/final/.env
.vs
.vscode
